@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using WebShop.Models;
<!DOCTYPE html>
<html>
<head>
    <style>
        * {
            box-sizing: border-box;
        }

        input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }

        label {
            padding: 12px 12px 12px 0;
            display: inline-block;
        }

        input[type=submit] {
            background-color: #04AA6D;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: right;
        }

            input[type=submit]:hover {
                background-color: #45a049;
            }

        .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }

        .col-25 {
            float: left;
            width: 25%;
            margin-top: 6px;
        }

        .col-75 {
            float: left;
            width: 75%;
            margin-top: 6px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
        media screen and (max-width: 600px) {
            .col-25, .col-75, input[type=submit]

        {
            width: 100%;
            margin-top: 0;
        }

        }
    </style>
</head>
<body>

    <h2>Change password</h2>
    <p>Enter the full information before edit</p>

    <div class="container">
        <a href="/Home/ViewProfile?id=@ViewBag.account.Id" style="text-decoration:none"><h1>Back to view profile</h1></a>
        <form action="/Home/EditPassword?id=@ViewBag.account.Id" method="post">
            <div class="row">
                <div class="col-25">
                    <label for="funame">Old password</label>
                </div>
                <div class="col-75">
                    <input type="password" name="oldpass" value="">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lname">New password</label>
                </div>
                <div class="col-75">
                    <input type="password" id="lname" name="newpass" value="">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lname">Confirm new password</label>
                </div>
                <div class="col-75">
                    <input type="password" id="lname" name="cnewpass" value="">
                </div>
            </div>
            <br>
            <div class="row">
                <input type="submit" value="Change password">
            </div>
        </form>
        <p style="color: green">@ViewBag.message</p>
    </div>

</body>
</html>